body {
  font-size: 16px;
  font-family: "Open Sans";
  letter-spacing: 1px;
  color: $dark-blue;
  background-color: $dark-blue;
}

h1, h2, h3 {
  font-family: "Questrial";
}

html, body, #root, .App {
  height: 100%;
}
a {
  color: white;
  text-decoration: none;
  &:hover {
    color: $orange;
  }
}
.row, .column {
  display: flex;
  &> * {
    flex-grow: 1;
  }
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.no-flex {
  flex: none;
}

.container {
  width: 900px;
  margin: auto;
  padding: 0.5em;
}

.section-title {

  h3 {
    margin-left: -0.7em;
    padding-left: 1em;
    padding-bottom: 0.2em;
    border-bottom: 2px solid $dark-blue;
    display: inline-block;
  }
  .fa-icon {
    padding: 0.5em 0.4em;
    background: $dark-blue;
    margin-bottom: -0.5em;
    color: $white;
    border-radius: 1em;
  }
}
.section {
  padding: 0 1em;
  margin-bottom: 1em;
}
