body {
  font-size: 16px;
  font-family: "Raleway";
  letter-spacing: 2px;
  color: $dark-blue;
}

html, body, #root, .App {
  height: 100%;
}

.row, .column {
  display: flex;
  &> * {
    flex-grow: 1;
  }
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.no-flex {
  flex: none;
}

.container {
  width: 900px;
  margin: auto;
  padding: 0.5em;
}
