body {
  font-size: 16px;
  font-family: "Raleway";
  letter-spacing: 2px;
}

.row, .column {
  display: flex;
}

.row {
  flex-direction: row;
  &> * {
    flex-grow: 1;
  }
}

.column {
  flex-direction: column;
}

.no-flex {
  flex: none;
}

.container {
  width: 900px;
  margin: auto;
  padding: 0.5em;
}
