.stack-ratio {
  width: 100%;
  height: 2em;
  border-radius: 5px;
  overflow: hidden;
  .stack-bar {
    height: 100%;
    position: relative;
    &:after {
      color: white;
      position: absolute;
      font-weight: bold;
    }
  }
  .front-bar {
    background: $orange;
    &:after {
      content: "Front-end";
      left: 0.5em;
      top: 0.4em;
    }
  }
  .back-bar {
    background: $blue;
    &:after {
      content: "Back-end";
      right: 0.5em;
      top: 0.4em;
    }
  }
}
.presentation-info {
  flex-shrink: 1;
  flex-basis: 300px;
  margin: 2em 0;
  .info-wrapper {
    width: 6em;
    margin: auto;
    .info-icon {
      width: 100%;
      height: 6em;
      background-position: center 0.7em;
      background-repeat: no-repeat;
      border: 4px solid $blue;
      border-radius: 5em;
    }
    .icon-experience {
      background-image: url('../images/icon-timeline.svg');
      background-size: 6em;
      background-position: center 0;
    }
    .icon-responsive {
      background-image: url('../images/icon-responsive.svg');
    }
    .icon-code {
      background-image: url('../images/icon-test.svg');
      background-position: center 0.8em;
    }
  }
  .info-text {
    margin-top: 0.5em;
    text-align: center;
    font-size: 0.8em;
    padding-left: 2em;
    padding-right: 2em;
  }
}
