.layout-header {
  font-family: "Questrial";
  letter-spacing: 2px;
  background: linear-gradient(0deg, #5d606c 0%, $dark-blue 80%);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  z-index: 1;

  .profile-picture {
    img {
      border-radius: 10em;
      border: 4px solid $white;
      z-index: 0;
      width: 10em;
      overflow: hidden;
    }
  }
  .layout-navigation {
    color: $white;
    .layout-menu {
      justify-content: flex-end;
      font-size: 1.2em;
      &> * {
        padding-left: 0.3em;
        padding-right: 0.3em;
        padding-bottom: 0.4em;
        margin-left: 0.3em;
        position: relative;
        cursor: pointer;
        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          border-bottom: 4px solid $orange;
          transform: scaleX(0);
          transition: transform ease-in 0.1s;
        }
        &:hover, &.active {
          color: $orange;
          &:after {
            transform: scaleX(1);
          }
        }
      }
    }
    .layout-info {
      padding-left: 1em;
      padding-top: 1em;
    }
  }
}
.layout-body {
  background: $silver;
  min-height: 100vh;
  .container {
    background: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
}
.layout-footer {

  background: linear-gradient(180deg, #5d606c 0%, $dark-blue 80%);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  z-index: 1;
  color: white;

  h3 {
    margin-top: 0.5em;
  }
  .footer-wrapper {

  }
}
