.layout-header {
  background: linear-gradient(0deg, rgba(45,49,66,0.8) 0%, $dark-blue 80%);
  padding: 0.5em;

  .profile-picture {
    img {
      border-radius: 10em;
      border: 4px solid $white;
      z-index: 0;
      width: 10em;
      overflow: hidden;
    }
  }
  .layout-navigation {
    color: $white;
    .layout-menu {
      margin-right: 2em;
      justify-content: flex-end;
      font-size: 1.3em;
      &> * {
        margin-left: 2em;
        padding-bottom: 0.2em;
        &.active {
          color: $orange;
          border-bottom: 3px solid $orange;
        }
      }
    }
    .layout-info {
      padding-left: 1em;
      padding-top: 1em;
    }
  }
}
